* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generali */
main {
    width: 100wh;
    height: 90vh;
    background-color: black;
    display: flex;
}

footer {
    width: 100wh;
    height: 10vh;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
	position: absolute;
	bottom: 0;
	left: 0;
    text-overflow: ellipsis;
	padding: 5px 10px;
}

/* /Generali */

/* Sezione partecipanti */
#all-users{
    width: 80%;
	height: 80%;
    margin: 80px auto;
    display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}
.user{
    width: calc(100% / 5 - 10px);
	height: calc(100% / 5 - 10px);
	position: relative;
    
}

/* Ridimensionamento immagini */
.img{
    width: calc(15wh - 10px);
	height: calc(15vh - 10px);
    object-fit:scale-down;
}

/* Icone */




/* /Sezione partecipanti */

/* Footer */

/* /Footer */


/* Debug */

/* /Debug */